html{
  box-sizing: border-box;
}

*,::before,::after{
  box-sizing: inherit;
}

ul,li,p,h1,h2,h3,h4,h5{
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #181b1e;
}
body.hidden-scroll {
    overflow: hidden;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html{
  box-sizing: border-box;
}
*,::before,::after{
  box-sizing: inherit;
}

.dna-wrapper{
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
}
